body
{
    background-color: white;
    margin:0;
    padding:0;
    border: none;
}
header { border:1px white solid; }
.initial
{

   
    color: white;

    
}

.backimage
{
    background-image: url(backimg.gif);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}
.content
{
    margin: 60px auto 100px 100px;
    color: white;
}
.projects 
{
    margin-top: 10px;
    color: white;
}
.projects a
{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.buttons
{
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    background-color: rgba(57,49,85,255);
    border: 2px dashed white;
    color: white;
}
.buttons:hover{
    background-color: white;
    color: black;
}
.button-container
{
    display: flex;
    column-gap: 10px;
}
.content1
{
    font-size: 30px;
    color: white;
}
.content2
{
    font-size: 90px;
    color: white;
}
.content3
{
    font-size: 20px;
    color: rgba(9,200,204,255);
    color: white;
}
.navig
{
    color:white;
    margin-top: 20px;
    font-size: 40px;
    font-family: "Caveat", cursive;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin: 0px 30px 10px ;
}
.front-page
{
    display:flex;
    justify-content: space-between;
}
.ppimg
{
    border-radius: 50%;
    height: 70vh;
    margin:60px 40px 10px 100px;
    border: 6px double aliceblue;
}
.nav_links a
{
    text-decoration: none;
    font-size: 20px;
    color: white;

}
.nav_links a:hover
{
    border-bottom: 1px solid white;
    transform: scale(1.5);
}
.nav_links{
    column-gap: 30px;
}
.skills-section
{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
  

}
.headings
{
   
    font-size: 80px;
    background: rgba(56,48,84,255);
    backdrop-filter: blur(10px);
    color: white;
    margin-top: 30px;
    border-radius: 50px;
   
}

.content5
{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: auto;
}
.content6
{
    font-size: 20px;
    border: 2px dashed black;
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    background-image: url("pencils.gif");
    background-position: center;
    background-size: cover;
}
.skill
{
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    border: 2px dashed white;
    background-color: rgba(9,200,204,255);
}
.skill a
{
    text-decoration: none;
    color: white;
}
.skill-button-section
{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.tech-cards
{
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    margin-top: 20px;
    background-image: url('html.gif');
}
.tech-card-headings
{
    font-size: 100px;
    color: white;
}
.sub-headings
{
    
    color: black;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    width: 70%;
}
.tech-buttons
{
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    background-color: white;
    border: 5px double white;
    color: black;
    margin-top: 20px;
    margin-bottom: 40px;
}
.tech-buttons a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.tech-card-contents
{
    font-size: 20px;
    color: white;
}
.footer
{
    text-align: center;
}   
.icons
{
    font-size: 50px;
}